//
// screener.scss
//

.col-center-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    flex-direction: row;
    label {
        margin-bottom: 0px;
    }
    .custom-control-inline {
        margin-left: 10px;
    }
}
.row-bottom-margin {
    margin-bottom: 20px;
}
